doctype html
html
  head
    title= title
    script(src='https://unpkg.com/xrpl@2.1.0-beta.1')
    //- script(src='/javascripts/init.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
